if SHIELD_MONSTER_LEFT

config ZMK_KEYBOARD_NAME
    default "Monster"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MONSTER_LEFT || SHIELD_MONSTER_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_MONSTER_RIGHT

config ZMK_KEYBOARD_NAME
    default "Monster Right"

endif